<footer class="foot">
      <div class="foot__top">
        <h2 class="foot__title">Gastronomia e salumeria Il Pastaio</h2>
        <p class="foot__paragraph">Corso Italia, 16 - 20122 Milano (MI)</p>
        <p class="foot__paragraph">+39 02 8056487 | info@gastronomiacivelli.com</p>
        <div class="foot__social">
          <img src="assets/images/icons/facebook.svg">
          <img src="assets/images/icons/instagram.svg">
        </div>
      </div>
      <div class="foot__bottom">
        <p>@Created by Lorenzo Lando – Dublin 2020</p> 
      </div>
    </footer>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>BOOK A TABLE</h1>
            <div class="modal-content__social">
              <!-- icona per mandare una mail -->
              <a href="mailto:someone@yoursite.com"><img class="modal-content__icon" src="assets/images/icons/telegram.svg"></a>
              <!-- icona per telefonare -->
              <a href="tel:1-562-867-5309"><img class="modal-content__icon" src="assets/images/icons/whatsapp.svg"></a>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/scripts/modal.js"></script>
</body>
</html>