<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gastronomia|ilpastaio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merienda|Open+Sans|Playball" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	  
  </head>
  <body>
    <header class="main-header">
      <div class="top-header">
        <img class="top-header__icon" src="assets/images/icons/phone.svg">
        <p class="top-header__text">Informazioni e prenotazioni al <a href="tel:xxxxxxxxxx"><strong>+39 02 8056487</strong></a></p>
      </div>
      <div class="bottom-header">
        <div class="bottom-header__logo">
          <h1>IL PASTAIO</h1>
          <h2>Gastronomia</h2>
        </div>
        <nav class="bottom-header__navigation">
          <ul>
            <li><a  href="">Gastronomia</a></li>
            <li><a  href="">Pasta fresca</a></li>
            <li><a  href="">Menu` del giorno</a></li>
            <li><a  href="">Catering</a></li>
            <li><a  href="">Gallery</a></li>
            <li><a  href="">Contatti</a></li>
          </ul>
        </nav>
      </div>
    </header>